// Global styling
@import './index.scss';

header {
  align-self: flex-start;
  width: 200px;
  margin-left: 50px;
}

main {
  display: flex !important;
  padding: 25px;

  .bold {
    font-weight: bold;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}