// Variables
$almost-black: rgb(30, 30, 30);
$almost-white: rgb(230, 230, 230);
$mobile: 600px;

.dark {
  background-color: var(--background);
}

.light {
  background-color: var(--background);
}

.logo {
  fill: var(--primary);
}

.rose {
  color: var(--primary);
}

.background-color {
  background-color: var(--background);
}

.background {
  background-color: var(--background);
  color: var(--inverse);
}

.primary {
  color: var(--primary);
}

// BlueprintJS color overrides
.bp4-input-dark {
  background-color: var(--primary);
}

.bp4-input {
  background-color: var(--background) !important;
}

.bp4-active,
.bp4-input:focus {
  box-shadow: 0 0 0 1px var(--primary), inset 0 0 0 1px var(--primary), 0 0 0 2px var(--supplement) !important;
}

.bp4-button {
  background-color: var(--background) !important;
}

.bp4-divider {
  border-color: var(--muted-inverse) !important;
}

.bp4-heading {
  color: var(--primary) !important;
}

.bp4-intent-primary {
  background-color: var(--primary) !important;
  color: var(--background) !important;
}

.bp4-outlined {
  border-color: var(--primary) !important;
  color: var(--primary) !important;
}

.bp4-dialog {
  background-color: var(--background) !important;
}

.bp4-menu {
  background-color: var(--background) !important;
  border-color: var(--quieter-inverse) !important;
}

.bp4-popover-arrow-fill {
  fill: var(--quieter-inverse) !important;
}

.bp4-selected {
  background-color: var(--muted-inverse) !important;
}

.bp4-popover {
  border-color: var(--quieter-inverse) !important;
  box-shadow: 0 0 0 1px var(--muted-inverse), 0 2px 4px var(--muted-inverse), 0 8px 24px var(--muted-inverse) !important;
}

.bp4-dialog-header {
  background-color: var(--muted-inverse) !important;
}

.bp4-overlay-backdrop {
  background-color: var(--overlay);
}

// Global styling
header {
  align-self: flex-start;
  width: 200px;
  margin-left: 50px;
}

footer {
  color: var(--quieter-inverse);
  font-size: smaller;
  text-align: center;
  margin-bottom: 25px;
}

main {
  display: flex !important;
  padding: 25px;

  .bold {
    font-weight: bold;
  }

  @media (max-width: $mobile) {
    padding-top: 0px;
    flex-direction: column;
  }
}

// Needed for dynamically resizing the sidebar
:export {
  mobile: $mobile;
}