// Variables
$mobile: 500px;
$mobile-small: 372px;
$almost-black: rgb(30, 30, 30);
$almost-white: rgb(230, 230, 230);

// Reset CSS
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  list-style: none;
}

input[type="radio"],
select,
input[type="submit"] {
  cursor: pointer;
  outline: none;
}

h2+.user_review {
  border-top: 1px solid black;
}

// This is useful when implementing a grid system so that all images take up
// 100% of the width of their containers
img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit !important;
  // Underline is standard in Blueprint. Force disable it.
  text-decoration: none !important;
}

.background-dark {
  background-color: $almost-black;
}

.background-light {
  background-color: $almost-white;
}

:export {
  almostBlack: $almost-black;
  almostWhite: $almost-white;
}