@import '../../index.scss';

.welcome {
  padding: 50px;

  header {
    // TODO double-check this after making logo
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  footer {
    font-size: smaller;
  }

  .welcome-container {
    flex-direction: column;
    align-content: center;

    .welcome-text {
      margin-bottom: 30px;

      ul {
        margin-bottom: 15px;

        li {
          padding-left: 10px;

          &::before {
            position: absolute;
            margin-left: -10px;
            content: '\2013';
          }
        }
      }
    }

    .bp4-form-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      #currentSalary {
        width: 95px;
      }

      @media (max-width: $mobile) {
        flex-direction: column;
      }
    }
  }
}