@import '../../index.scss';

.welcome {
  padding: 50px;

  header {
    // TODO double-check this after making logo
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .welcome-container {
    flex-direction: column;

    .welcome-text {
      margin-bottom: 30px;

      // TODO Center this bitch
      p {
        width: 50%;
        text-align: justify;
      }
    }

    .bp4-form-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      #currentSalary {
        width: 95px;
      }

      @media (max-width: $mobile) {
        flex-direction: column;
      }
    }
  }
}