@import '../../App.scss';

.welcome {
  padding: 50px;
  max-width: 800px;
  margin: auto;
}

.welcome-container {
  flex-direction: column;
  align-content: center;

  li {
    padding-left: 15px;

    &::before {
      position: absolute;
      margin-left: -15px;
      content: '\2013';
    }
  }
}

.welcome-text {
  margin-bottom: 20px;
}

ul {
  margin-bottom: 15px;
}

#user-salary {
  width: 130px;
}

.bp4-form-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

@media (max-width: $mobile) {
  header {
    margin-bottom: 25px;
  }

  .bp4-form-content {
    flex-wrap: wrap;
  }

  .bp4-button {
    margin-bottom: 1rem;
  }
}