@import '../../index.scss';

nav {
  display: flex;
  flex-direction: column;
  width: 300px;

  .user-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .filter-details {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;

    .bp4-input-group,
    .bp4-numeric-input {
      margin-left: 10px;
      // TODO this isn't working so it extends past the end of the sidebar
      size: calc(100% - 10px);
    }

    .bp4-numeric-input {
      size: 2px;
    }
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}