@import '../../App.scss';

nav {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 300px;
  height: 100vh;
  margin-right: 25px;
  position: sticky !important;
  top: 25px;
  padding-top: 25px;
  z-index: 1;

  .bp4-divider {
    margin: 20px 0px;
  }
}

#navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#toggle-sidebar {
  position: absolute;
  top: 25px;
  right: 0px;
  display: none;
}

.user-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-label {
  width: 80px;
  margin-right: 20px;
}

.filter-details {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.bp4-numeric-input {
  padding-left: 7px;
}

@media (max-width: $mobile) {
  nav {
    top: 0px;
    height: auto;
    width: 100%;
  }

  #navbar {
    display: flex !important;
  }

  #toggle-sidebar {
    display: block;
  }

  .filter-value {
    width: 100%;
  }
}