@import '../../index.scss';

nav {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 25px;
  // TODO how do I make it not move?
  // position: fixed;

  .user-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bp4-divider {
    margin: 20px 0px;
  }

  .filter-details {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;

    .filter-label {
      width: 80px;
    }

    .bp4-numeric-input {
      padding-left: 7px;
    }
  }

  @media (max-width: $mobile) {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;

    .filter-details {
      .bp4-numeric-input {
        width: calc(100% - 32px);
        margin-left: auto;
        // align-self: flex-end;
        // padding-left: 32px;
      }
    }
  }
}