@import '../../index.scss';

.job-listing {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;

  .job-listing-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    .job-listing-secondary {
      // TODO why no worky?
      color: #555;
    }

    .job-title {
      font-size: large;
    }

    .job-salary {
      font-weight: bold;
    }
  }

}